<!-- <p>Copyright {{ now.Year }}. All rights reserved.</p> -->
<div class="row-fluid footer">
  <div class="row justify-content-center footer-brand">
    <div class="col-md-9">
      <img class="footer-brand-img" src="/images/apertus-logo-extended.png" />
    </div>
  </div>
  <div class="row footer-main-area justify-content-center">
    <div class="col-md-9 justify-content-center">
      <div class="row">
        <div class="col">
          <div style="font-weight: bold;">apertus° - open source cinema BV</div>
          <div>Wolstraat 21<br />2000 Antwerp<br />Belgium</div>
          <div style="margin-top: 1rem; margin-bottom: 3em;">
            <a href="/contact">Contact</a>
          </div>
        </div>
        <div class="col d-flex flex-column">
          <div class="footer-column-caption">Contribute</div>
          <a href="/join-the-team">Join the team</a>
          <a
            href="https://github.com/apertus-open-source-cinema"
            target="_blank"
            >GitHub repositories</a
          >
          <a href="/irc-chat">Live chat (IRC)</a>
          <a href="/sponsors">Donate</a>
        </div>
        <div class="col d-flex flex-column">
          <div class="footer-column-caption">Projects</div>
          <a href="/axiom-beta">AXIOM Beta</a>
          <a href="/axiom-remote">AXIOM Remote</a>
        </div>
        <div class="col d-flex flex-column">
          <div class="footer-column-caption">Association</div>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/team">Team</a>
          <a href="/mission-statement">Mission Statement</a>
          <a
            href="https://wiki.apertus.org/index.php/AXIOM_Project_Background"
            target="_blank"
            >Project Background</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div style="font-weight: bold;">apertus° Association</div>
          <div>Mortaraplatz 11<br />1200 Vienna<br />Austria</div>
          <div style="margin-top: 1rem; margin-bottom: 3em;">
            <a href="/association">Association Details</a>
          </div>
        </div>
        <div class="col d-flex flex-column">
          <div class="footer-column-caption">
            AXIOM Camera Project Brochure Download:
          </div>
          <div class="publications">
            <div class="publication">
              <a
                href="https://apertus.org/AXIOM_Beta_Brochure_02.04.pdf"
                target="_blank"
              >
                <img
                  src="/images/AXIOM_Beta_product_brochure_thumbnail.jpg"
                  style="height: 100%; width: 5rem;"
                  alt="AXIOM Beta Brochure"
                  title="AXIOM Beta Brochure"
              /></a>
            </div>
          </div>
        </div>
        <div class="col d-flex flex-column">
          <div class="footer-column-caption">Resources</div>
          <a href="https://wiki.apertus.org" target="_blank">Wiki</a>
          <a href="https://wiki.apertus.org/index.php/APOCs" target="_blank"
            >Regional communities</a
          >
          <a href="https://wiki.apertus.org/index.php/Social" target="_blank"
            >Social media accounts</a
          >
          <a href="/imprint">Imprint</a>
          <a href="/privacy-policy">Privacy Policy</a>
        </div>
        <div class="col">
          <div style="padding-bottom: 1em;">
            For occasional project updates:
          </div>
          <a
            class="footer-button"
            href="http://newsletter.apertus.org/lists/?p=subscribe&amp;id=1"
            target="_blank"
            >Subscribe to our newsletter</a
          >
          <div class="d-flex flex-row g-0">
            <a
              href="https://github.com/apertus-open-source-cinema"
              target="_blank"
            >
              <img
                src="/images/github-icon.png"
                class="social-icon"
                alt="Github Icon"
                title="Github Icon"
              />
            </a>
            <a href="https://twitter.com/apertusoscinema" target="_blank">
              <!-- TODO: Replace with X -->
              <img
                src="/images/twitter-icon.png"
                class="social-icon"
                alt="Twitter Icon"
                title="Twitter Icon"
              />
            </a>
            <a href="https://mastodon.social/@apertus" target="_blank">
              <img
                src="/images/mastodon-icon.png"
                class="social-icon"
                alt="Mastodon Icon"
                title="Mastodon Icon"
              />
            </a>
            <a
              href="https://wiki.apertus.org/index.php/Main_Page"
              target="_blank"
            >
              <img
                src="/images/wiki-icon.png"
                class="social-icon"
                alt="Wiki Icon"
                title="Wiki Icon"
              />
            </a>
            <a href="/user">
              <img
                src="/images/login-icon.png"
                class="social-icon"
                alt="Login Icon"
                title="Login Icon"
              />
              <span style="font-size:0.9em;">Login</span>
            </a>
          </div>
          <div class="row g-0">
            <div style="padding-top: 1em; font-size: 0.9rem;">
              Thanks to our
              <a class="sponsors-link" href="/sponsors">Sponsors</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
