$dark-background: #474747;
$light-background: #e1e1e1;
$apertus-orange: #fa8756;
$separator: $apertus-orange;
$small-separator: #9e9b95;
$margin: 10%;
$navbar-item-color: #999999;
$navbar-item-hover: #ffffff;
