@import "colors.scss";

.news-card {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $light-background;
}

.card-caption {
  color: $apertus-orange;
  font-size: 1.5em;
  line-height: 25px;
  text-decoration: none;
}

.card-caption:hover {
  color: #474747;
  text-decoration: underline;
  transition: color 0.3s ease-in;
}

.card-date {
  color: #999999;
  font-size: 0.8em;
}

.card-author {
  color: $apertus-orange;
}

.card-teaser-image {
  margin-right: 1rem;
}

.card-more {
  color: $apertus-orange;
}