$dark-background: #474747;
$light-background: #e1e1e1;
$apertus-orange: #fa8756;
$separator: $apertus-orange;
$small-separator: #9e9b95;
$margin: 10%;
$navbar-item-color: #999999;
$navbar-item-hover: #ffffff;

// @import "bootstrap/bootstrap";
@import "node_modules/bootstrap/scss/bootstrap.scss";
// @import "node_modules/bootstrap/scss/functions";

// Required
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";

// .navbar {
//   // background-color: #222222;
//   // background: -moz-linear-gradient(center top, #333333, #222222);
//   // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
//   //   background-repeat: repeat;
//   //   background-image: linear-gradient(rgb(51, 51, 51) 0%, rgb(34, 34, 34) 100%);
//   // background: -webkit-linear-gradient(center top, #333333, #222222);
//   // background-image: linear-gradient(to bottom, #333333, #222222);
//   // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222');
//   // -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222')";
//   background: linear-gradient(#333333, #222222);
//   background-repeat: repeat-x;
//   border-radius: 4px 4px 4px 4px;
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
//   min-height: 40px;
//   height: 40px;
//   padding-top: 0;
// }
@import "navbar.scss";
@import "footer.scss";
@import "latest-news-card.scss";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

input {
  line-height: 25px;
}

body {
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
  background: url("/images/grain-eee.png") repeat scroll 0 0 transparent;
  font-size: 16px;
  padding-top: 0px;
  line-height: 1.5em;
  overflow-x: hidden;
}
